<h2>Sign Up!</h2>
<form #SignupForm='ngForm' (ngSubmit)=signup(SignupForm)>
  <div class="row">
    <div class="col-md-6">
      <label>User Name</label>
      <input type="text" class="form-control" [(ngModel)]="userName" name="userName" />
      <label>Password</label>
      <input type="password" class="form-control" [(ngModel)]="password" name="password" />
    </div>
    <div class="col-md-6"></div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li><input (click)="setTavernRole(1)" type="radio" name="roleBtn" >Owner</li>
        <li><input (click)="setTavernRole(2)" type="radio" name="roleBtn" >Manager</li>
      </ul>
    </div>
  </div>

  <!--  Check for Admin button  -->
  <div class="row" *ngIf="getTavernRole() == 1">
    <div class="col-md-6">
      <label>Tavern Name</label>
      <input type="text" class="form-control" name="tavernName"></div>
  </div>
  <!--  Check for Manager button  -->
  <div class="row" *ngIf="getTavernRole() == 2">
      <div class="col-md-6">
        <label>Tavern Name</label>
        <h2>DropDown Menu of Taverns here</h2>
        <!--dropdown begin-->
        <select name="tavernName">
          <!-- need to ngFor options -->
          <option *ngFor="let t of tavernList" value="{{ t.id }}">{{ t.name }}</option>
        </select>
      </div>
    </div>
  <br>
  <div class="row">
    <div class="col-md-6">
        <button type="submit" class="btn btn-primary" *ngIf="!LoggedIn">  
            Signup
        </button>
        <button class="btn btn-primary" routerLink="/login">
            Cancel
        </button>
    </div>
    
  </div>
</form>